local_*
*.zip
*.png
*.jpg

# no data files
*.mat

# no binaries
*.exe
*.mexw64
*.dll

# no python autosave files
*.ipynb_checkpoints*

# no matlab autosave files
*.asv

# no extra files from c project:
analysis/compiled/hdf5_movie_fft/
analysis/compiled/hdf5_movie_convolution/
private/twophot/batchMoco1p.txt



