local_*
*.zip
*.png
*.jpg
*.eps

# no data files
*.mat

# no binaries
*.exe
*.mexw64
*.dll

# no python autosave files
*.ipynb_checkpoints*

# no matlab autosave files
*.asv

# no extra files from c project:
analysis/compiled/hdf5_movie_fft/
analysis/compiled/hdf5_movie_convolution/

# no allen reference points
analysis/allen_map/allen_reference_points*.txt

# IDE stuff
*.idea/
.env
*json

*.DS_Store
